@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

#root {
  font-family: "Russo One", sans-serif;
  background-color: #D3D3D3;
}

.zoom-in {
  animation: zoomIn 0.5s forwards; 
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar {
  font-family: "Russo One", sans-serif;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-image: linear-gradient(-45deg, #242525 25%, transparent 25%, transparent 50%, #001f3f 50%, #001f3f 75%, transparent 75%, transparent);
  background-size: 1px 1px;
}

.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem; 
}

.logo {
  font-family: "Russo One", sans-serif;
  color: #F8F8F8; 
  font-size: 42px;
  font-weight: bold;
}

.nav-links {
  font-family: "Russo One", sans-serif;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: "Orbitron", system-ui;
  color: #F28C28; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #F8F8F8; 
}

.tilt-prism-footer {
  font-family: 'Tilt Prism', sans-serif;
  font-size: 24px;
  color: #F5F5F5;
  font-weight: bold;
}